/* 
    General Styles
*/
body {
    padding-inline: 3rem;
    background: rgb(193, 193, 193);

}

.navbarTop {
    border-radius: .5rem;
    background:rgb(175, 175, 175) !important;
}

.title {
    font-size: 1.8rem;
    font-variant: small-caps;
    font-weight: 700;
    letter-spacing: .1rem;
    color: rgb(85, 85, 85);
}

.characterCard {
    border: none;
    box-shadow: 9px 9px 9px rgba(0, 0, 0, 0.2);
}

.cardBody{
    
    background:rgb(176, 176, 176)
}

.favouritesButton {
    margin-left: .5rem;
    background:rgb(243, 233, 31)
}

.navbarFavouritesButton {
    background:rgb(243, 233, 31);
    color:rgb(56, 56, 56)
}